@font-face {
    font-family: 'Felix Titling';
    src: url('FelixTitlingMT.woff2') format('woff2'),
        url('FelixTitlingMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

